#window 
{
  font-family: "PT Mono";
  border-radius: 5px;
  border-color: #cad3f5;
  border-style: solid;
  border-width: 2px;
}

#outer-box
{
  padding: 20px;
}

#input {
  margin-bottom: 10px;
}

#img {
  margin-right: 10px;
}

#entry:selected {
  background-color: #363a4f;
}
